[submodule "build/amd64"]
	path = build/amd64
	url = https://github.com/System233/ll-killer-worker.git
	branch = amd64
[submodule "build/arm64"]
	path = build/arm64
	url = https://github.com/System233/ll-killer-worker.git
	branch = arm64
